<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Steam List</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  {{!-- <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <a href="/" class="header-name">mySteamlist</a>
      </h1>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <a href="/wishlist">wishlist</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login" class="login">login</a>
        {{/if}}
      </nav> --}}
      <div class="navbar-fixed">
        <nav class="nav-wrapper">
          <div class="nav-header">
            <a href="/" class="header-name">mySteamlist</a>
            <ul class="nav-list right hide-on-med-and-down p-2">
              {{#if logged_in}}
              <li><a id="nav-words" href="/profile">Profile</a></li>
              <li><a id="nav-words" href="/favorite">Favorite</a></li>
              <li><a id="nav-words" href="/wishlist">Wishlist</a></li>
              <li><a id="nav-words" class="logout">Logout</a></li>
              {{else}}
              <a href="/login" class="login">Login</a>
              {{/if}}
            </ul>
          </div>
        </nav>
      </div>
    </header>



    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>

    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>

</html>