<style>
    .row>div {
        padding: 10px;
        background: #1B2838;
        border: 1px solid #fff;
    }

    .row {
        margin: 40px auto;
    }
</style>
<div class="container">
    <h4 style="padding: 15px; background-color: #1B2838; color: white">
        <center>My Faves List</center>
    </h4>
    <div class="col s12 m6 l4 xl2">
        <div class="card">
            <div class="card-image">
                <img {{favorite.image}} alt="">

            </div>
            <div class="card-content">
                <span class="card-title">{{favorite.game_title}}</span>
                <p>{{favorite.review}}</p>
            </div>
            <div class="card-action">
                <i class="material-icons red-text">star</i>
                <a href="">{{favorite.rating}}</a>
            </div>
        </div>
    </div>

</div>
</div>