<!-- Loop over each object in the projects array -->
<main class="before-login-main">

  <div class="container">
    <div class="pic-container">
      <img src="./img/steam_pic.jpg" alt="steam-logo" class="steam-logo" />
      <div class="overlay">
        <a class="steam-logo" href="https://store.steampowered.com/"><div
            class="text"
          >Click here to visit Steam website</div></a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <p id="hometext">mySteamlist is a webpage designed for user to add steam
        games to a wishlist or add it to favorite games, and also be able to
        rate and review the game</p>
    </div>
  </div>

</main>
