<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <button href="#" class="btn #82b1ff blue accent-1">
            <span>Login</span>
            <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
  <div class="col-md-6">
    <h2>Sign Up</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">Username:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <button href="#" class="btn #82b1ff blue accent-1">
            <span>SignUp</span>
            <i class="material-icons right">send</i>
        </button>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
