<div class="row">
  <div class="col-auto">
    <h1>Welcome to Your Profile, {{name}}!</h1>
  </div>
</div>

<div class="container">
    <section class="container section" id="photos">
        <div class="row">
            <div class="col s12 l4">
                <img src="/img/controller.avif" alt="" class="responsive-img">
            </div>
            <div class="col s12 l6 offset-l1">
                <h6 class="collection-header" style="margin-bottom: 20px; color: #66C0F4; font-size: 6em;">
                <a href="/favorite">My Faves List</a>
            </h6>
                <p>Add your favorite game that you find enjoyable and want to remember later on!</p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l4 offset-l1 push-l7">
                <img src="img/city.jpg" alt="" class="responsive-img materialboxed">
            </div>
            <div class="col s12 l6 offset-l1 pull-l5 right-align">
                 <h3 class="collection-header" style="margin-bottom: 20px; color: #66C0F4; font-size: 6em;">
                <a href="/wishlist">Wish List</a>
                </h3>
                <p>Add a game that you have been waiting to come out! Or a game that you wanting to get but just haven't bought yet!</p>
            </div>
        </div>
    </section>
        <ul class="collection with-header">
            <li class="collection-header" style="background-color: #1b2838; margin-bottom: 20px; color: #66C0F4; font-size: 6em;">
                <a href="/favorite">My Faves List</a>
            </li>
            <li class="collection-header" style="background-color: #1b2838; margin-bottom: 20px; color: #66C0F4; font-size: 6em;">
                <a href="/wishlist">Wish List</a>
            </li>
            <li class="collection-header" style="background-color: #1b2838; color: #66C0F4; font-size: 6em;">
                <a>Friends Activity</a>
            </li>
        </ul>
    </div>

<script src="./js/profile.js"></script>
