<div class="my-container">
  <h4 style="padding: 15px; background-color: #1B2838; color: white">
    <center>Welcome to Your Profile, {{name}}!</center>
  </h4>

<div class="container">
    <section class="container section" id="photos">
        <div class="col s12 l6">
            <h6 class="collection-header" style="margin-bottom: 20px; color: #66C0F4; font-size: 6em;">
                <a href="/favorite">My Faves List</a>
            </h6>
            <p>Add your favorite game that you find enjoyable and want to remember later on!</p>
        </div>
        <div class="col s12 l8">
            <a href="/favorite">
                <img src="/img/controller.avif" alt="" class="responsive-img">
            </a>
        </div>
             <div class="col s12 l6">
            <h6 class="collection-header" style="margin-bottom: 20px; color: #66C0F4; font-size: 6em;">
                <a href="/wishlist">My Wishlist</a>
            </h6>
            <p>Add your favorite game that you find enjoyable and want to remember later on!</p>
        </div>
        <div class="col s12 l8">
            <a href="/wishlist">
                <img src="/img/controller2.avif" alt="" class="responsive-img">
            </a>
        </div>
    </section>
    
<script src="./js/profile.js"></script>