<div class="row">
  <div class="col-auto">
    <h1>Welcome to Your Profile, {{name}}!</h1>
  </div>
</div>

<div class="container">
        <ul class="collection with-header">
            <li class="collection-header" style="background-color: #1b2838; margin-bottom: 20px; color: #66C0F4; font-size: 6em;">
                <a href="/">My Faves List</a>
            </li>
            <li class="collection-header" style="background-color: #1b2838; margin-bottom: 20px; color: #66C0F4; font-size: 6em;">
                <a>Wish List</a>
            </li>
            <li class="collection-header" style="background-color: #1b2838; color: #66C0F4; font-size: 6em;">
                <a>Friends Activity</a>
            </li>
        </ul>
    </div>

<script src="./js/profile.js"></script>
