<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New favorite:</h3>

    <form class="form new-favorite-form">
      <div class="form-group">
        <label for="favorite-name">favorite name:</label>
        <input class="form-input" type="text" id="favorite-name" name="favorite-name" />
      </div>
      <div class="form-group">
        <label for="favorite-funding">needed funding ($):</label>
        <input class="form-input" type="number" id="favorite-funding" name="favorite-funding" />
      </div>
      <div class="form-group">
        <label for="favorite-desc">description:</label>
        <textarea class="form-input" id="favorite-desc" name="favorite-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if favorites.length}}
  <div class="col-md-6 favorite-list">
    <h3>Current favorites:</h3>

    {{#each favorites as |favorite|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/favorite/{{favorite.id}}">{{favorite.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{favorite.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
