<div class="my-container">
    <h4 style="padding: 15px; background-color: #1B2838; color: white">
        <center>Welcome to Your Profile, {{name}}!</center>
    </h4>
</div>

<section class="container section" id="photos">
    <div class="row">
        <div class="col s12 l5">
            <a href="/favorite">
                <img src="/img/controller.avif" alt="" class="responsive-img">
            </a>
        </div>
        <div class="col s12 l6 offset-l1">
            <h1 class="collection-header" style="color: #66C0F4;">
                <a href="/favorite">My Faves List</a>
            </h1>
            <p>On My Faves List, you can celebrate and showcase the games that have left a lasting impact on you. This
                page serves
                as a dedicated space to honor and remember the titles that hold a special place in your gaming journey.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 l6">
            <h1 class="collection-header" style="color: #66C0F4;">
                <a href="/wishlist">My Wishlist</a>
            </h1>
            <p>On My Wish, you can keep track of all the exciting video games you want to get your hands on. Whether
                it's the
                latest releases or hidden gems from the past, this page is the perfect place to curate your gaming
                desires.</p>
        </div>
        <div class="col s12 l5">
            <a href="/wishlist">
                <img src="/img/controller2.avif" alt="" class="responsive-img">
            </a>
        </div>
    </div>
</section>

<script src="./js/profile.js"></script>