 <form class="form new-favorite-form">
      <div class="form-group">
        <label for="favorite-name" style="color: #2A475E; font-size: 3em;" >Game Title:</label>
        <input class="form-input" type="text" id="favorite-name" name="favorite-name" />
      </div>
      <div class="form-group">
        <label for="favorite-funding" style="color: #2A475E; font-size: 3em;">Rating:</label>
        <input class="form-input" type="number" id="favorite-funding" name="favorite-funding" />
      </div>
      <div class="form-group">
        <label for="favorite-desc" style="color: #2A475E; font-size: 3em;">Image Link:</label>
        <textarea id="textarea1" class="materialize-textarea"></textarea>
      </div>
      <div class="form-group">
        <label for="favorite-desc" style="color: #2A475E; font-size: 3em;">Review:</label>
        <textarea id="textarea1" class="materialize-textarea"></textarea>
      </div>
      <button href="#" class="btn #0d47a1 blue darken-4">
            <span>Create</span>
            <i class="material-icons right">send</i>
      </button>
    </form>