
    <div class="container">
        <h4>My WishList </h4>
        <h2 class="add-list"><i class="add-list small material-icons">add</i> Add To Wishlist </h2>
        <div class="row">
            <div class="col s12 m6 l4 xl2">
                <div class="card">
                    <div class="card-image">
                        <img src="https://tse2.mm.bing.net/th?id=OIP.Nc-vUSJ0xkDw3bYvaeAh-QHaE8&pid=Api" alt="">
                        <a href="" class="halfway-fab btn-floating pink pulse">
                            <i class="material-icons">favorite</i>
                        </a>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Minecraft</span>
                        <p>Lorem ipsum dolor</p>
                    </div>
                    <div class="card-action">
                        <a href="">More details</a>
                        <a href="">price: 25</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4 xl2">
                <div class="card">
                    <div class="card-image">
                        <img src="https://tse2.mm.bing.net/th?id=OIP.Nc-vUSJ0xkDw3bYvaeAh-QHaE8&pid=Api" alt="">
                        <a href="" class="halfway-fab btn-floating pink pulse">
                            <i class="material-icons">favorite</i>
                        </a>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Minecraft</span>
                        <p>Lorem ipsum dolor</p>
                    </div>
                    <div class="card-action">
                        <a href="">More details</a>
                        <a href="">price: 25</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4 xl2">
                <div class="card">
                    <div class="card-image">
                        <img src="https://tse2.mm.bing.net/th?id=OIP.Nc-vUSJ0xkDw3bYvaeAh-QHaE8&pid=Api" alt="">
                        <a href="" class="halfway-fab btn-floating pink pulse">
                            <i class="material-icons">favorite</i>
                        </a>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Minecraft</span>
                        <p>Lorem ipsum dolor</p>
                    </div>
                    <div class="card-action">
                        <a href="">More details</a>
                        <a href="">price: 25</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4 xl2">
                <div class="card">
                    <div class="card-image">
                        <img src="https://tse2.mm.bing.net/th?id=OIP.Nc-vUSJ0xkDw3bYvaeAh-QHaE8&pid=Api" alt="">
                        <a href="" class="halfway-fab btn-floating pink pulse">
                            <i class="material-icons">favorite</i>
                        </a>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Minecraft</span>
                        <p>Lorem ipsum dolor</p>
                    </div>
                    <div class="card-action">
                        <a href="">More details</a>
                        <a href="">price: 25</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4 xl2">
                <div class="card">
                    <div class="card-image">
                        <img src="https://tse2.mm.bing.net/th?id=OIP.Nc-vUSJ0xkDw3bYvaeAh-QHaE8&pid=Api" alt="">
                        <a href="" class="halfway-fab btn-floating pink pulse">
                            <i class="material-icons">favorite</i>
                        </a>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Minecraft</span>
                        <p>Lorem ipsum dolor</p>
                    </div>
                    <div class="card-action">
                        <a href="">More details</a>
                        <a href="">price: 25</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4 xl2">
                <div class="card">
                    <div class="card-image">
                        <img src="https://tse2.mm.bing.net/th?id=OIP.Nc-vUSJ0xkDw3bYvaeAh-QHaE8&pid=Api" alt="">
                        <a href="" class="halfway-fab btn-floating pink pulse">
                            <i class="material-icons">favorite</i>
                        </a>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Minecraft</span>
                        <p>Lorem ipsum dolor</p>
                    </div>
                    <div class="card-action">
                        <a href="">More details</a>
                        <a href="">price: 25</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4 xl2">
                <div class="card">
                    <div class="card-image">
                        <img src="https://tse2.mm.bing.net/th?id=OIP.Nc-vUSJ0xkDw3bYvaeAh-QHaE8&pid=Api" alt="">
                        <a href="" class="halfway-fab btn-floating pink pulse">
                            <i class="material-icons">favorite</i>
                        </a>
                    </div>
                    <div class="card-content">
                        <span class="card-title">Minecraft</span>
                        <p>Lorem ipsum dolor</p>
                    </div>
                    <div class="card-action">
                        <a href="">More details</a>
                        <a href="">price: 25</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Compiled and minified JavaScript -->