header {
  border-bottom: 1px solid #ccc;
  background-color: #1b2838;
}

body {
  background-color: #c7d5e0;
}

.steam-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background: url(https://store.steampowered.com/);
}

.header-name {
  color: #66c0f4;
  font-size: 35px;
  padding-left: 1%;
}

.login {
  color: #66c0f4;
  font-size: 30px;
}

.nav-wrapper {
  background-color: #1b2838;
}

.container {
  position: relative;
  width: 80%;
}

.before-login-main {
  padding-top: 10%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #2a475e;
}

.pic-container:hover .overlay {
  opacity: 0.9;
}

.card-content {
  background-color: #2a475e;
}

.card-content p {
  color: white;
  font-size: 35px;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #66c0f4;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}
